.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 0;
  flex: 0 1 auto;
  background-color: cornsilk;
  height: 100vh;
}

.Titulo {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
  background-color: darkgoldenrod;
}

.LoginForm {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
  background-color: blue;

}

.LoginFields{
}

.LoginInputs {
}

.ButtonLogin {
}