.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background-image: url('photo_2018-08-07_08-24-52.jpg');
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 0;
  flex: 0 1 auto;
  height: 100vh;
}

.Titulo {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
  font-size : 3em;
  color: white;
  text-shadow: 2px 2px #000;
  font-family: Verdana;
}

.LoginForm {
  order: 0;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;

}

.LoginFields{
  padding: 10px;
}

.LoginInputs {
  font-size: 2em;
  border-radius:5px;
}

.ButtonLogin {
  font-size: 2em;
  border-radius:5px;
  background-color: beige;
}

.ButtonLogin:hover {
  background-color: azure;
}

.AreaConvidadoContainer {
  display: flex;
  flex-direction: column;
}

.PanelHello{
  order: 0;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  font-size : 1em;
  color: white;
  text-shadow: 2px 2px #000;
  font-family: Verdana;
}

.PresenteRow {
  display: flex;
  flex-direction: column;
  margin:10px;
  border-width: 2px;
  background-color: rgba(80, 80, 80, 0.3);
}

.NomeDoPresente{
  display: flex;
  flex-direction: row;
  justify-content : space-between;

  background-color: rgba(80, 80, 80, 0.6);
  color: white;
  text-shadow: 2px 2px #000;
  font-family: Verdana;
}
.LabelDoPresente {
  align-self:flex-start;
}

.BotaoEscolherPresente {
  align-self: flex-end;
}

.PresentePicture {
  align-self: center;
}
.ButtonUnchooseGift{
  border-radius: 8px;
  height: 37px;
  width: 37px;
  background-image: url('gift-512-red.png');
  background-size:cover;
  background-color: rgba(255,255,200,0.8);
}
.ButtonUnchooseGift:hover{
  background-color: lightsalmon;
}

.ButtonChooseGift{
  border-radius: 8px;
  height: 37px;
  width: 37px;
  background-image: url('gift-512-green.png');
  background-size:cover;
  background-color: rgba(200,255,200,0.8);
}
.ButtonChooseGift:hover{
  background-color: lightgreen;
}